
<h4>EXPO EVENTS SCHEDULING</h4>

<h5>Would you require transportation to and from the EXPO to your hotel?</h5>

<%= form_tag(select_buses_companies_path, method: :post) do %>

  <%= submit_tag 'BACK', class: 'btn btn-primary', name: :step_back %>
  <%= submit_tag 'NEXT', class: 'btn btn-primary' %>
<% end %>
