
<h4>EXPO EVENTS SCHEDULING</h4>

BUSES

<%= link_to 'BACK', select_buses_companies_path(step_back: true), method: :post, class: 'btn btn-primary' %>
<%= link_to 'NEXT', select_buses_companies_path, method: :post, class: 'btn btn-primary' %>
