
<h4>REGISTRATION IS SUCCESSFUL!</h4>
<h4>Your confirmation number is</h4>
<h2><%= @company.confirmation_token.upcase %></h2>

An email confirmation will also be sent to email you have registered this event under <b><%= @company.representative_email %></b>.
Please check the details to confirm your registration. Should you need to make any changes to your registration, please contact <b>Susan Rapillo</b> at <b>800-888-0054 ext 80179</b> or email us at <a href="mailto:exporeg@griffinmail.com">exporeg@griffinmail.com</a> with your confirmation number.
