<table>
  <tr>
    <th>Full name</th>
    <th>Company name</th>
    <th>Checked</th>
    <th>Seminars</th>
  </tr>
  <% attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.full_name %></td>
      <td><%= attendee.company.full_name %></td>
      <td>
        <%= check_box_tag "attendees[]", attendee.id, checked = checked_attendees.include?(attendee) %>
      </td>
      <td></td>
    </tr>
  <% end %>
</table>
