
<style type="text/css">
  table.qr {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 3px;
    height: 3px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }

  #wrap {
    display: block;
  }
  #wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #wrap .container {
    width: 4in;
    height: 3in;
    padding-top: 25px;
    padding-bottom: 5px;
    border: 1px solid black;
  }

  .page-break {
    display:block;
    clear:both;
    page-break-after:always;
  }

  .attendee-badge-name {
    font-size: 36px;
    display: inline-block;
  }

  .company-info {
    font-size: 24px;
    padding-top: 4px;
    display: inline-block;
  }
</style>

<% badges.each_with_index do |badge, index| %>
  <div id="wrap">
    <div class="container">
      <center>
        <table class="qr">
          <% badge[:qr].modules.each_index do |x| -%>
            <tr>
              <% badge[:qr].modules.each_index do |y| -%>
                <% if badge[:qr].dark?(x,y) -%>
                  <td class="black"/>
                <% else -%>
                  <td class="white"/>
                <% end -%>
              <% end -%>
            </tr>
          <% end -%>
        </table>
        <br>
        <b class="attendee-badge-name"><%= badge[:name] %></b>
        <br>
        <span class="company-info">Cust <%= "##{badge[:company_cust]} (#{badge[:company_warehouse]})" %></span>
        <br>
        <span class="company-info"><%= badge[:company_name] %></span>
        <br>
        <span class="company-info"><%= badge[:company_location] %></span>
      </center>
    </div>
    <% if index != 0 && index % 2 == 0 %>
      <p class="page-break">-</p>
    <% end %>
  </div>
<% end %>
