
<h4>Import XLSX file</h4>

<%= form_tag companies_from_xlsx_imports_path, multipart: true do %>
  <h3>
    Select type of imported companies
    <%= select_tag :company_type, options_for_select([:vendor, :customer]) %>
  </h3>
  <h3>
    File to Upload
    <%= file_field_tag "file" %>
  </h3>
  <br>
  <%= submit_tag "Upload" %>
<% end %>
