default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: your_username_on_mac

development:
  <<: *default
  database: griffinexpo_development

test:
  <<: *default
  database: griffinexpo_test

production:
  <<: *default
  database: griffinexpo_production
