
<% if @company.vendor? %>
  <h4>Payment info:
  <% if @company.credit_card? %>
    Please, follow this link and confirm.
  <% elsif @company.check? %>
    Please mail check to:
    <br>Griffin Greenhouse
    <br>ATT: Danielle Muse 1619 Main St
    <br>Tewksbury, MA 01876
  <% elsif @company.debit_memo? %>
    Please email Danielle Muse
    <br>Email address: <a href="mailto:dmuse@griffinmail.com">dmuse@griffinmail.com</a>.
  <% else %>
    For information please contact Lisa Hyslip at 978-807-0787.
  <% end %>
<% end %>
