
.event-title {
  background: brown;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.longline {
  width: 105%;
}

.accordion {
  cursor: pointer;
}

.accordion-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

.accordion-content.show {
  opacity: 1;
  max-height: 100000px;
}

.accordion:after {
  content: '+';
  font-size: 35px;
  float: right;
  margin-top: -15px;
}

.accordion.active:after {
  content: '-';
}

.bus-title {
  background: lightgray;
  color: black;
  padding: 10px;
  font-size: 16px;
}

.bus-table {
  width:100%;
}

.bus-table tbody th {
  background-color: #6699ff;
  color: white;
  font-size: 18px;
}

.bus-table tbody tr {
  background-color: #cce6ff;
  font-size: 16px;
}

.bus-table tbody tr:nth-child(odd) {
  background-color: #99ccff;
}

.bus-table tbody td {
  border: 1px solid white;
}

.download-button {
  font-size: 20px;
  padding: 5px;
  background: #ffdead;
  color: black;
}

.badge-block {
  width: 33%;
}

.bagde-image {
  width: 100%;
}

.checkins-summary {
  background: blue;
  color: white;
  padding: 10px;
  font-size: 14px;
}

.accordion-admin-panel:after {
  margin-top: -42px !important;
}

.accordion-admin-panel-show:after {
  margin-top: -81px !important;
}

