body {
  padding-top: 70px;
}

.logo_image {
  width: 100%;
}

.buses-error, .attendees-count-error, .phone-number-length-error, .overnight-buses {
  padding: 15px 0 15px 0;
  color: red;
  font-size: 16px;
  display: none;
}

.input-row {
  padding-bottom: 10px;
}

.payment-option {
  max-width: 200px;
}

.questions-table th, .questions-table td {
  padding: 5px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-left: -400px !important;
}

.modal-content {
  width: 1020px;
}
